@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color:black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #595960;
    padding-bottom:40px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0px solid #00FFFF;
    border-radius: 0px 0px 0px 0px;
    animation: border_header .5s 1;
    background-color: #595960;
    width: 300px;
    height: 60px;
    box-shadow: 0px 0px 10px -2px #333333;
    margin-bottom: -1px;
    overflow: hidden;
}

.sub_header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    width: 300px;
    height: 20px;
    box-shadow: 0px 4px 10px -4px #333333;
    margin-bottom: 25px;
    background-color: #00FFFF;
    animation: color .5s 1;
}

.show_title {
    color: #595960;
    font-size: .5rem;
    font-weight: 400;
}

.random_row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.random_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px 12px 12px 12px;
    width: 295px;
    height: 40px;
    background-color: #00FFFF;
    box-shadow: 0px 0px 10px -2px #333333;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.random_episode {
    color: white;
    font-weight: 600;
}

.random_button:active {
    box-shadow: 0px 0px 0px 0px #333333;
    height: 39px;
}

.info {
    border: 5px solid #595960;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    width: 265px;
    color: white;
    height: auto;
    background-color: #595960;
    padding: 10px;
    box-shadow: 0px 0px 10px -2px #333333;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    z-index: -1;
}

.footer {
    font-weight: 100;
    font-size: .7rem;
    bottom: 0;
    border-top: 2px solid #ffd90f;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    background-color: #595960;
    width: 300px;
    height: 40px;
    box-shadow: 0px 0px 10px -2px #333333;
}

.footer_text {
    color: white;
}
